@import '~antd/dist/antd.css';

:root {
  --blue: #1890ff;
  --lightblue: #e6f7ff;
}

.app-section {
  margin-bottom: 30px;
}

.content-blue {
  background-color: var(--blue);
  color: white;
}

.typo-grey {
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.54);
}

.typo-center {
  text-align: center;
}